doctype html
html(lang="en")
  head

    //- Head
    include view/common/head.pug

    title Катарсис

    //- Swiper-Slider
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
    //- Basic Styles
    link(rel="stylesheet", href="style/main.min.css")
    //- Basic JavaScript
    script(src=`${PUBLIC_URL}js/header.js`, defer)
    script(src=`${PUBLIC_URL}js/banner.js`, defer)

  body

    //- Mixins
    include view/common/mixin.pug

    //- Header
    include view/common/header.pug

    main
      section.banner.container 
        .banner__slider.swiper
          .swiper-wrapper
            - for(var slide = 1; slide < 3; slide++)
              .banner__slide.swiper-slide
                - for(var img = 1; img < 4; img++)
                  .banner__img-box(class=`banner__img-box-${img}`)
                    picture
                      source.banner__img(srcset=`${PUBLIC_URL}img/main/1.png`)
                      img.banner__img(src=`${PUBLIC_URL}img/main/1.png`, alt=`Интерьер-${img}`)
                .banner__content 
                  h2.banner__title.us-title Дизайнерская мебель
                  p.banner__desc В каталоге собрана оригинальная дизайнерская мебель от американских и европейских производителей. Стильная, необычная, удобная и практичная – она привлечет внимание и будет оценена по достоинству. Наши клиенты пользуются скидками до 80% от первоначальной стоимости, годовой гарантией, быстрой доставкой по России и СНГ.
                  a(href=`${PUBLIC_URL}view/pages/sofas.html`).banner__link
                    | Узнать подробнее
                    +icon('arrow-2')  
          .banner__slider-pagination
          button.banner__slider-btn.banner__slider-btn-prev
              +icon('arrow-1') 
          button.banner__slider-btn.banner__slider-btn-next
              +icon('arrow-1')
    
    //- Catalog menu
    include view/common/menu-catalog.pug