doctype html
html(lang="ru")
  head
     
    //- Head
    include common/head.pug
    
    title Катарсис - Межкомнатные перегородки

    //- Swiper-Slider
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
    //- Basic Styles
    link(rel="stylesheet", href='style/partitions-main.css')

  body

    //- Mixins
    include common/mixin.pug

    //- Header
    include common/header.pug

    main

      //- Hero
      - var titleHero = 'Межкомнатные перегородки' 
      - var descHero = 'Наша компания производит раздвижные системы для зонирования пространства в современном интерьере.'
      - var countImgHero = 3
      - var cssClassHero = 'partitions-hero'

      include common/hero.pug

      section.partitions-portfolio.container
        .partitions-portfolio__box 
          h2.partitions-portfolio__title.us-title Реализованные проекты
          a(href="#").partitions-portfolio__btn 
            | Портфолио
            +icon('arrow-2')

        //- Slider
        include common/partitions-slider.pug

      section.kinds.container 
        ol.kinds__list
          - var kinds = ['перегородки для\u00A0офиса', 'Межкомнатные перегородки', 'перегородки для Ванной комнаты', 'перегородки для\u00A0Гардеробной', 'перегородки для\u00A0Зонирования пространства', 'перегородки для\u00A0гостинной', 'перегородки для\u00A0Столовой зоны', 'перегородки для\u00A0Столовой зоны']

          each title, index in kinds
            li.kinds__item
              .kinds__item-box 
                strong.kinds__count.us-title= (index + 1).toString().padStart(2,0)
                picture.kinds__img-box
                  source(srcset=`img/partitions-kinds/${index + 1}.png`).kinds__img
                  img(src=`img/partitions-kinds/${index + 1}.png`, alt=`Изображение-${index + 1}`).kinds__img
                .kinds__img-duplicate(style=`background-image: url('img/partitions-kinds/${index + 1}.png')`)
                h3.kinds__title.us-title= title
              a(href="partitions-order.html").kinds__btn
                | Заказать расчёт
                +icon('arrow-2') 

      
      //- Application
      include common/application.pug    

      //- About
      include common/about.pug 

      //- Contacts-map
      include common/contacts-map.pug 

    //- Footer
    include common/footer.pug 
