//- Mixins
include mixin.pug

section.common-form.container(class=`${cssClassForm || "application"}`)
  picture
    source(class=`${cssClassForm || "application"}__img` srcset=`img/${imageForm || "application"}/1.webp`).common-form__img
    img(class=`${cssClassForm || "application"}__img` src=`img/${imageForm || "application"}/1.webp`, alt="Изображение формы").common-form__img

  form.common-form__form(id= cssClassForm || "common-form" class=`${cssClassForm || "application"}__form`)
    .common-form__container(class=`${cssClassForm || "application"}__container`)
      h2.common-form__title.us-title(class=`${cssClassForm || "application"}__title`)= titleForm || "оставьте заявку"
      p.common-form__desc(class=`${cssClassForm || "application"}__desc`)= descForm || "Наши менеджеры помогут вам!"
      .common-form__box-input(class=`${cssClassForm || "application"}__box-input`)

        each item in (dataInput || [{id: 'name', name: 'name', placeholder: 'Имя', type: 'text'}, {id: 'tel', name: 'tel', placeholder: 'Номер телефона', type: 'tel'}])
          label(for= item.id class=`${cssClassForm || "application"}__label`).common-form__label
            span= item.placeholder
            if item.view === 'textarea'
              textarea(class=`${cssClassForm || "application"}__input`, id= item.id, type= item.type, name= item.name, placeholder= item.placeholder).common-form__input
            else if item.id === 'stars'
              div(class=`${cssClassForm}__label-box`)
                - for(var i = 1; i < 6; i++)
                  label(for=`${item.id}-${i}`) 
                    input(class=`${cssClassForm || "application"}__radio`, id=`${item.id}-${i}`, type="radio", name= item.id, value=i)
                    +icon('star')
            else
              input(class=`${cssClassForm || "application"}__input`, id= item.id, type= item.type, name= item.name, placeholder= item.placeholder).common-form__input
      .common-form__box-btn(class=`${cssClassForm || "application"}__box-btn`)
        button.common-form__btn.us-btn(class=`${cssClassForm || "application"}__btn`) 
          | Отправить
          +icon('arrow-2')
        p.common-form__btn-desc(class=`${cssClassForm || "application"}__btn-desc`)
          | Отправляя форму, вы соглашаетесь с&nbsp;
          a(href="#") политикой&nbsp;конфиденциальности

if scale 
  script(src="js/scale-img.js" defer) 

if popup
  //- Popup
  include popup.pug