//- Mixins
include mixin.pug

.product(class=`${cssClassProduct ? cssClassProduct : ""}`)
  .product__box-img
    picture
      source(srcset=`img/popular/${i ? i : 1}.png`).product__img
      img(src=`img/popular/${i ? i : 1}.png`, alt=`Изображение-${i ? i : 1}`).product__img
  .product__box-content 
    .product__content
      div 
        h3.product__title
          a(href="sofas-product.html")
            if i === 1
              | Кресло SILLA NEGRA
            else
              | Кресло
        p.product__desc 
          if i === 1
            | Кресло SILLA NEGRA
          else
            | Кресло SILLA NEGRA black edition
      strong.product__price 
        | 7 000 
        sup ₽
    .product__box-btn 
      button.product__btn(class=`${i === 3 ? "add" : ""}`, aria-label="Корзина")
        +icon("basket")
      button.product__btn(class=`${i === 3 ? "add" : ""}`, aria-label="Избранные")
        +icon("favorite")